.role_in_uM {
  padding: 5px;
  cursor: default;
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: #228b22;
  color: #fff;
  font-size: 12px;
  text-shadow: -1px -1px 1px rgb(0 0 0 / 50%), 1px 1px 1px #fff;
}
