.module_in_permissionManagement {
  .perms_tools_container {
    margin-bottom: 15px;
    display: flex;
  }
}

.module_in_permissionManagement {
  .pagination_in_permsOfPermission {
    margin-bottom: 18px;
  }
}
