.app-container {
  padding: 10px;
}
.permissionManagement {
  padding: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  * {
    margin: 0;
    padding: 0;
  }
  ul {
    list-style: none;
  }
  &::after {
    content: "";
    display: block;
    clear: both;
  }
  .layout-left {
    float: left;
    .role-list {
      text-align: center;
      border-right: 1px solid #ccc;
      padding: 0 20px;
      color: #555;
      margin: 10px 0;
      .role-list-title {
        margin: 10px 0;
      }
      .roles {
        .role {
          width: 250px;
          height: 50px;
          line-height: 50px;
          border: 1px solid #ccc;
          background-color: #fff;
          margin-bottom: -1px;
          cursor: pointer;
        }
        .role.mouseenter {
          background-color: rgba(0, 0, 0, 0.1);
        }
        .role.active {
          color: #fff;
          background-color: rgba(42, 130, 228, 1);
          border-color: #337ab7;
        }
      }
    }
  }
  .layout-right {
    float: right;
    width: calc(100% - 300px);
    padding: 10px;
    .main-title {
      margin: 10px 0;
    }
  }
}
